Community Edition
System 
Interfaces 
Firewall 
Services 
VPN 
Status 
Diagnostics 
Help 
ServicesHAProxySettings
 
Settings
Frontend
Backend
Files
Stats
Stats FS
Templates
General settings
Enable HAProxy
Installed version2.8.3-86e043a
Maximum connections
1000
Sets the maximum per-process number of concurrent connections to X.
NOTE: setting this value too high will result in HAProxy not being able to allocate enough memory.
Current memory usage: 43608 kB.
Current 'System Tunables' settings.
  'kern.maxfiles': 255538
  'kern.maxfilesperproc': 229977
Full memory usage will only show after all connections have actually been used.
per process.
Connections	 	Memory usage
1	 	50 kB
1.000	 	48 MB
10.000	 	488 MB
100.000	 	4,8 GB
Calculated for plain HTTP connections,
using ssl offloading will increase this.
When setting a high amount of allowed simultaneous connections you will need to add and or increase the following two 'System Tunables' kern.maxfiles and kern.maxfilesperproc. For HAProxy alone set these to at least the number of allowed connections * 2 + 31. So for 100.000 connections these need to be 200.031 or more to avoid trouble, take into account that handles are also used by other processes when setting kern.maxfiles.
Number of threads to start per process
1
Defaults to 1 if left blank (4 CPU core(s) detected).
FOR NOW, THREADS SUPPORT IN HAPROXY 1.8 IS HIGHLY EXPERIMENTAL AND IT MUST BE ENABLED WITH CAUTION AND AT YOUR OWN RISK.
Reload behaviourForce immediate stop of old process on reload. (closes existing connections)
Note: when this option is selected, connections will be closed when haproxy is restarted. Otherwise the existing connections will be served by the old haproxy process until they are closed. Checking this option will interrupt existing connections on a restart (which happens when the configuration is applied, but possibly also when pfSense detects an interface coming up or a change in its ip-address.)
Reload stop behaviour
15m
Defines the maximum time allowed to perform a clean soft-stop. Defaults to 15 minutes, but could also be defined in different units like 30s, 15m, 3h or 1d.
Carp monitor
Disabled
Monitor carp interface and only run haproxy on the firewall which is MASTER.
Stats tab, 'internal' stats port
Internal stats port
2200
EXAMPLE: 2200
Sets the internal port to be used for the stats tab. This is bound to 127.0.0.1 so will not be directly exposed on any LAN/WAN/other interface. It is used to internally pass through the stats page. Leave this setting empty to remove the "HAProxyLocalStats" item from the stats page and save a little on recources.
Internal stats refresh rate
Seconds, Leave this setting empty to not refresh the page automatically. EXAMPLE: 10
Sticktable page refresh rate
Seconds, Leave this setting empty to not refresh the page automatically. EXAMPLE: 10
Logging
Remote syslog host
To log to the local pfSense systemlog fill the host with the value /var/run/log, however if a lot of messages are generated logging is likely to be incomplete. (Also currently no informational logging gets shown in the systemlog.)
Syslog facility
local0
Syslog level
Informational
Log hostname
EXAMPLE: HaproxyMasterNode
Sets the hostname field in the syslog header. If empty defaults to the system hostname.
Global DNS resolvers for haproxy
DNS serversConfiguring DNS servers will allow haproxy to detect when a servers IP changes to a different one in 'elastic' environments without needing to be restarted.
Table
Name	DNSserver	DNSport	Actions
Retries
Defines the number of queries to send to resolve a server name before giving up. Default value: 3
Retry timeout
Time between two DNS queries, when no response have been received. Default value: 1s
Interval
Interval between two successive name resolution when the last answer was valid. Default value: 10s
Global email notifications
Mailer serversIt is possible to send email alerts when the state of servers changes. If configured email alerts are sent to each mailer that is configured in a mailers section. Email is sent to mailers using SMTP.
Table
Name	Mailserver	Mailserverport	Actions
Mail level
Dont log
Define the maximum loglevel to send emails for.
Mail myhostname
Define hostname to use as sending the emails.
Mail from
Email address to be used as the sender of the emails.
Mail to
Email address to send emails to.
Tuning
SSL/TLS Compatibility Mode
Auto
The SSL/TLS Compatibility Mode determines which cipher suites and TLS versions are supported by default.
Old mode disables SSLv3 and appropriate ciphers.
Intermediate mode also disables HIGH ciphers, SHA1, TLS v1.0 and TLS v1.1.
Modern mode also disables TLS v1.2, leaving only TLS v1.3 and AEAD ciphers.
If unsure leave it as 'Auto'.
Max SSL Diffie-Hellman size
EXAMPLE: 2048
Sets the maximum size of the Diffie-Hellman parameters used for generating the ephemeral/temporary Diffie-Hellman key in case of DHE key exchange. Minimum and default value is: 1024, bigger values might increase CPU usage.
For more information about the "tune.ssl.default-dh-param" option please see HAProxy Documentation
NOTE: HAProxy will emit a warning when starting when this setting is used but not configured.
Global Advanced pass thru
Custom options
NOTE: paste text into this box that you would like to pass thru in the global settings area.
Configuration synchronization
HAProxy SyncSync HAProxy configuration to backup CARP members via XMLRPC.
Note: The synchronisation host and password are those configured in pfSense main "System: High Availability Sync" settings.
 automatically generated configuration.
/var/etc/haproxy/haproxy.cfg file contents
Content
# Automaticaly generated, dont edit manually.
# Generated on: 2026-05-22 09:38
global
	maxconn			1000
	stats socket /tmp/haproxy.socket level admin  expose-fd listeners
	uid			80
	gid			80
	nbthread			1
	hard-stop-after		15m
	chroot				/tmp/haproxy_chroot
	daemon
	server-state-file /tmp/haproxy_server_state

listen HAProxyLocalStats
	bind 127.0.0.1:2200 name localstats
	mode http
	stats enable
	stats admin if TRUE
	stats show-legends
	stats uri /haproxy/haproxy_stats.php?haproxystats=1
	timeout client 5000
	timeout connect 5000
	timeout server 5000

frontend HA_Frontend
	bind			68.116.51.146:443 name 68.116.51.146:443   ssl crt-list /var/etc/haproxy/HA_Frontend.crt_list  
	mode			http
	log			global
	option			http-keep-alive
	timeout client		50000
	acl			is_ha	var(txn.txnhost) -m str -i ha.bipeds.org
	acl			aclcrt_HA_Frontend	var(txn.txnhost) -m reg -i ^ha\.bipeds\.org(:([0-9]){1,5})?$
	http-request set-var(txn.txnhost) hdr(host)
	use_backend HA_Server_ipvANY  if  is_ha aclcrt_HA_Frontend

backend HA_Server_ipvANY
	mode			http
	id			100
	log			global
	option			log-health-checks
	timeout connect		30000
	timeout server		50000
	retries			3
	load-server-state-from-file	global
	timeout connect 5s
	timeout server 50s
	timeout tunnel 1h
	server			ha 192.168.1.80:8123 id 101
pfSense is developed and maintained by Netgate. © ESF 2004 - 2026 View license.